<div class="layout__cell">
    <script>
        $(document).ready(function () {
         window.voteReasonsList = JSON.parse('{"1":{"id":"1","title":"Низкий технический уровень материала","order":1},"2":{"id":"2","title":"Больше рекламы, чем пользы","order":2},"3":{"id":"3","title":"Не соответствует тематике Хабра","order":3},"4":{"id":"4","title":"В тексте много ошибок и опечаток","order":4},"5":{"id":"5","title":"Пост небрежно оформлен","order":5},"6":{"id":"6","title":"Личная неприязнь к автору или компании","order":6},"7":{"id":"7","title":"В статье нет новой для меня информации","order":7},"8":{"id":"8","title":"Ничего не понял после прочтения","order":8},"22":{"id":"22","title":"Не согласен с изложенным","order":9},"9":{"id":"9","title":"Другое","order":10}}');
        });
    </script>
    <script>
        $(document).on('hljsUpdate', function () {
          if (typeof hljs === 'undefined') {
            initHighlightJS();
          } else {
            $('pre code').each(function (i, e) {
              hljs.highlightBlock(e, '    ');
            });
          }
        })

        function createScript(url) {
          var hljsScript = document.createElement("script");
          hljsScript.src = url;
          hljsScript.type = 'text/javascript';
          document.body.appendChild(hljsScript)

          return hljsScript;
        }

        function initHighlightJS() {
          if (typeof hljs !== 'undefined') {
            $('pre code').each(function (i, e) {
              hljs.highlightBlock(e, '    ');
            });
            return;
          };

          var hljsScript = createScript('https://dr.habracdn.net/habr/605c3eae/javascripts/highlight.pack.js');

          hljsScript.onload = function() {
            var hljsLangs = createScript('https://dr.habracdn.net/habr/605c3eae/javascripts/highlight.langs.js');
            hljsLangs.onload = function () {
              hljs.initHighlighting();
            }
          }
        }

        var codeElements = document.querySelectorAll('pre code');

        if (codeElements.length) {
          initHighlightJS();
        }
    </script>
    <script>
        var mathElements = document.getElementsByTagName('math');

        function mathJaxConfig() {
          MathJax.Hub.Config({
            showProcessingMessages: false,
            showMathMenu: true,
            tex2jax: {
              inlineMath: [['$inline$','$inline$']],
              displayMath: [['$$display$$','$$display$$']],
              processEscapes: true
            },
            MathMenu: {
              showRenderer: true,
              showContext:  true
            }
          });

          MathJax.Extension.Img2jax = {
            PreProcess: function (element) {
              var hasMath = false;
              var images = element.querySelectorAll('[data-tex]');
              for (var i = images.length - 1; i >= 0; i--) {
                var img = images[i];
                var tex = img.alt.replace(/(\r\n|\n|\r)/gm, " ");
                if (tex && tex[0] === '$'){
                  var script = document.createElement("script"); script.type = "math/tex";
                  hasMath = true;
                  if (img.getAttribute('data-tex') == "display"){script.type += ";mode=display"}
                  MathJax.HTML.setScript(script, tex.substring(1,tex.length-1));
                  img.parentNode.replaceChild(script,img);
                }
              }
            }
          };

          MathJax.Hub.Register.PreProcessor(["PreProcess", MathJax.Extension.Img2jax]);
        }

        function mathjaxInit() {
         if (typeof MathJax === 'undefined') {
            var url = 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_SVG-full&locale=ru';
            var mathScript = document.createElement("script");
            mathScript.src = url;
            mathScript.type = 'text/javascript';
            document.body.appendChild(mathScript)

            mathScript.onload = function() {
              mathJaxConfig();
            }
          } else {
            mathJaxConfig();
          }
        }

        if (mathElements.length) {
          mathjaxInit();
        }

    </script>
    <div class="footer-grid footer">
      <div class="footer-grid__item footer-grid__item_copyright">
        <span class="footer__copyright">&copy; 2006 &ndash; {% now "Y" %} «<a href="https://company.habr.com/" class="footer__link">Habr</a>»</span>
      </div>
      <div class="footer-grid__item footer-grid__item_link footer-grid__item_lang">
        <svg class="icon-svg icon-svg_lang-footer" width="16" height="16">
          <use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#globus-v2" />
        </svg>
        <a href="#" class="footer__link js-show_lang_settings">Настройка языка</a>
      </div>
      <div class="footer-grid__item footer-grid__item_link">
          <a href="https://habr.com/ru/about/" class="footer__link">О сайте</a>
      </div>
      <div class="footer-grid__item footer-grid__item_link">
        <a href="https://habr.com/ru/feedback/" class="footer__link">Служба поддержки</a>
      </div>
      <div class="footer-grid__item footer-grid__item_link">
          <a href="https://m.habr.com/ru?mobile=yes" class="footer__link">Мобильная версия</a>
      </div>
      <div class="footer-grid__item footer-grid__item_social">
        <ul class="social-icons">
          <li class="social-icons__item">
            <a href="https://twitter.com/habr_com"
              class="social-icons__item-link social-icons__item-link_normal social-icons__item-link_twitter"
              target="_blank"
              rel="nofollow noopener noreferrer"
              onclick="if (typeof ga === 'function') { ga('send', 'event', 'footer', 'Social_icons', 'twitter'); }"
            >
              <svg class="icon-svg" aria-hidden="true" aria-labelledby="title" version="1.1" role="img" width="24" height="24" viewBox="0 0 24 24"><path d="M17.414 8.642c-.398.177-.826.296-1.276.35.459-.275.811-.71.977-1.229-.43.254-.905.439-1.41.539-.405-.432-.982-.702-1.621-.702-1.227 0-2.222.994-2.222 2.222 0 .174.019.344.058.506-1.846-.093-3.484-.978-4.579-2.322-.191.328-.301.71-.301 1.117 0 .77.392 1.45.988 1.849-.363-.011-.706-.111-1.006-.278v.028c0 1.077.766 1.974 1.782 2.178-.187.051-.383.078-.586.078-.143 0-.282-.014-.418-.04.282.882 1.103 1.525 2.075 1.542-.76.596-1.718.951-2.759.951-.179 0-.356-.01-.53-.031.983.63 2.15.998 3.406.998 4.086 0 6.321-3.386 6.321-6.321l-.006-.287c.433-.314.81-.705 1.107-1.15z"/></svg>
            </a>
          </li>
          <li class="social-icons__item">
            <a href="https://www.facebook.com/habrahabr.ru"
              class="social-icons__item-link social-icons__item-link_normal social-icons__item-link_facebook"
              target="_blank"
              rel="nofollow noopener noreferrer"
              onclick="if (typeof ga === 'function') { ga('send', 'event', 'footer', 'Social_icons', 'facebook'); }"
            >
              <svg class="icon-svg" aria-hidden="true" aria-labelledby="title" version="1.1" role="img" width="24" height="24" viewBox="0 0 24 24"><path d="M14.889 8.608h-1.65c-.195 0-.413.257-.413.6v1.192h2.063v1.698h-2.063v5.102h-1.948v-5.102h-1.766v-1.698h1.766v-1c0-1.434.995-2.6 2.361-2.6h1.65v1.808z"/></svg>
            </a>
          </li>
            <li class="social-icons__item">
              <a href="https://vk.com/habr"
                class="social-icons__item-link social-icons__item-link_normal social-icons__item-link_vkontakte"
                target="_blank"
                rel="nofollow noopener noreferrer"
                onclick="if (typeof ga === 'function') { ga('send', 'event', 'footer', 'Social_icons', 'vkontakte'); }"
              >
                <svg class="icon-svg" aria-hidden="true" aria-labelledby="title" version="1.1" role="img" width="24" height="24" viewBox="0 0 24 24"><path d="M16.066 11.93s1.62-2.286 1.782-3.037c.054-.268-.064-.418-.343-.418h-1.406c-.322 0-.44.139-.537.343 0 0-.76 1.619-1.685 2.64-.297.33-.448.429-.612.429-.132 0-.193-.11-.193-.408v-2.607c0-.365-.043-.472-.343-.472h-2.254c-.172 0-.279.1-.279.236 0 .343.526.421.526 1.352v1.921c0 .386-.022.537-.204.537-.483 0-1.631-1.663-2.274-3.552-.129-.386-.268-.494-.633-.494h-1.406c-.204 0-.354.139-.354.343 0 .375.44 2.114 2.167 4.442 1.159 1.566 2.683 2.414 4.056 2.414.838 0 1.041-.139 1.041-.494v-1.202c0-.301.118-.429.29-.429.193 0 .534.062 1.33.848.945.901 1.01 1.276 1.525 1.276h1.578c.161 0 .311-.075.311-.343 0-.354-.462-.987-1.17-1.738-.29-.386-.762-.805-.912-.998-.215-.226-.151-.354-.001-.59z"/></svg>
              </a>
            </li>
          <li class="social-icons__item">
            <a href="https://telegram.me/habr_com"
              class="social-icons__item-link social-icons__item-link_normal social-icons__item-link_telegram"
              target="_blank"
              rel="nofollow noopener noreferrer"
              onclick="if (typeof ga === 'function') { ga('send', 'event', 'footer', 'Social_icons', 'telegram'); }"
            >
              <svg class="icon-svg" aria-hidden="true" aria-labelledby="title" version="1.1" role="img" width="24" height="24" viewBox="0 0 24 24"><path d="M17.17 7.621l-10.498 3.699c-.169.059-.206.205-.006.286l2.257.904 1.338.536 6.531-4.796s.189.057.125.126l-4.68 5.062-.27.299.356.192 2.962 1.594c.173.093.397.016.447-.199.058-.254 1.691-7.29 1.728-7.447.047-.204-.087-.328-.291-.256zm-6.922 8.637c0 .147.082.188.197.084l1.694-1.522-1.891-.978v2.416z"/></svg>
            </a>
          </li>
            <li class="social-icons__item">
              <a href="https://www.youtube.com/channel/UCd_sTwKqVrweTt4oAKY5y4w"
                class="social-icons__item-link social-icons__item-link_normal social-icons__item-link_youtube"
                target="_blank"
                rel="nofollow noopener noreferrer"
                onclick="if (typeof ga === 'function') { ga('send', 'event', 'footer', 'Social_icons', 'youtube'); }"
              >
                <svg class="icon-svg" aria-hidden="true" aria-labelledby="title" version="1.1" role="img" width="32" height="32" viewBox="0 0 32 32"><path d="M3.2 0h25.6c1.767 0 3.2 1.433 3.2 3.2v25.6c0 1.767-1.433 3.2-3.2 3.2h-25.6c-1.767 0-3.2-1.433-3.2-3.2v-25.6c0-1.767 1.433-3.2 3.2-3.2zm18.133 16l-10.667-5.333v10.667l10.667-5.333z"/></svg>

              </a>
            </li>
            <li class="social-icons__item">
              <a href="https://zen.yandex.ru/habr"
                class="social-icons__item-link social-icons__item-link_normal social-icons__item-link_zen"
                target="_blank"
                rel="nofollow noopener noreferrer"
                onclick="if (typeof ga === 'function') { ga('send', 'event', 'footer', 'Social_icons', 'zen'); }"
              >
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="30" height="30" rx="3" fill="#2C3036"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M26.25 15.1241V14.9998V14.8759C21.2684 14.7252 18.9904 14.6009 17.1735 12.8263C15.3994 11.0098 15.2747 8.73179 15.1243 3.75H15H14.8757C14.7253 8.73179 14.6006 11.0098 12.8264 12.8263C11.0095 14.6009 8.73151 14.7252 3.75 14.8759V14.9998V15.1241C8.73151 15.2748 11.0095 15.3991 12.8264 17.1733C14.6006 18.9903 14.7253 21.2682 14.8757 26.25H15H15.1243C15.2747 21.2682 15.3994 18.9903 17.1735 17.1733C18.9904 15.3991 21.2684 15.2748 26.25 15.1241Z" fill="white"/>
                </svg>

              </a>
            </li>
        </ul>
      </div>
    </div>
</div>