<div class="layout__cell">
  <div class="column-wrapper column-wrapper_bottom column-wrapper_bordered">
    <div class="content_left">
        <div class="default-block default-block_content">
            <div class="default-block__header default-block__header_large">
                <h2 class="default-block__header-title default-block__header-title_large">Самое читаемое</h2>
            </div>
            <div class="default-block__content default-block__content_most-read" id="broadcast_tabs_posts">
                <ul class="toggle-menu toggle-menu__most-read">
                    <li class="toggle-menu__item">
                      <a href="#broadcast_posts_today" class="toggle-menu__item-link active" rel="nofollow">Сутки</a>
                    </li>
                    <li class="toggle-menu__item">
                      <a href="#broadcast_posts_week" class="toggle-menu__item-link" rel="nofollow">Неделя</a>
                    </li>
                    <li class="toggle-menu__item">
                      <a href="#broadcast_posts_month" class="toggle-menu__item-link" rel="nofollow">Месяц</a>
                    </li>
                </ul>
                <div class="tabs__content tabs__content_reading" id="broadcast_posts_today">
                    <ul class="content-list content-list_most-read">
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/post/548110/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">Домашний DPI, или как бороться с провайдером его же методами</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;229</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">116k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">577</span>
                            </span>
                            <a href="https://habr.com/ru/post/548110/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                159

                              </span>
                            </a>
                          </div>
                        </li>
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/post/547272/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">Как я нашел в публичном доступе исходники нескольких сервисов ФНС</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;220</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">51,3k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">97</span>
                            </span>
                            <a href="https://habr.com/ru/post/547272/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                154

                              </span>
                            </a>
                          </div>
                        </li>
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/company/englishdom/blog/548454/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">5 слов английского языка, которые невозможно произнести правильно с первого раза</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;50</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">75,4k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">75</span>
                            </span>
                            <a href="https://habr.com/ru/company/englishdom/blog/548454/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                190

                              </span>
                            </a>
                          </div>
                        </li>
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/company/lamptest/blog/548322/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">Делаем вечную лампочку: вопросы и ответы</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;48</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">57,9k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">77</span>
                            </span>
                            <a href="https://habr.com/ru/company/lamptest/blog/548322/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                73

                              </span>
                            </a>
                          </div>
                        </li>
                      <li class="content-list__item content-list__item_devided post-info">
                        <a href="https://u.habr.com/srls_rn" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'https://u.habr.com/srls_rn'); }">FaaS жил, FaaS жив, FaaS будет жить. Теперь и в новом хабе Serverless</a>
                        <div class="post-info__meta-label">
                          Турбо
                        </div>
                      </li>
                    </ul>
                </div>
                <div class="tabs__content tabs__content_reading" id="broadcast_posts_week">
                    <ul class="content-list content-list_most-read">
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/post/548110/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">Домашний DPI, или как бороться с провайдером его же методами</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;229</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">116k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">577</span>
                            </span>
                            <a href="https://habr.com/ru/post/548110/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                159

                              </span>
                            </a>
                          </div>
                        </li>
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/post/548070/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">Разбор: как рассчитать налог на банковский вклад и о чем следует помнить</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;16</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">97,8k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">48</span>
                            </span>
                            <a href="https://habr.com/ru/post/548070/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                135

                              </span>
                            </a>
                          </div>
                        </li>
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/company/englishdom/blog/548454/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">5 слов английского языка, которые невозможно произнести правильно с первого раза</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;50</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">75,4k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">75</span>
                            </span>
                            <a href="https://habr.com/ru/company/englishdom/blog/548454/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                190

                              </span>
                            </a>
                          </div>
                        </li>
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/post/548502/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">Массовый сбой на Android (23.03.2021)</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;27</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">63,1k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">26</span>
                            </span>
                            <a href="https://habr.com/ru/post/548502/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                38

                              </span>
                            </a>
                          </div>
                        </li>
                      <li class="content-list__item content-list__item_devided post-info">
                        <a href="https://u.habr.com/rshbstart_rn" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'https://u.habr.com/rshbstart_rn'); }">Мы рождены, чтоб сказку сделать былью. Но сначала превращаемся из стажеров в джунов</a>
                        <div class="post-info__meta-label">
                          Мегапост
                        </div>
                      </li>
                    </ul>
                </div>
                <div class="tabs__content tabs__content_reading" id="broadcast_posts_month">
                    <ul class="content-list content-list_most-read">
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/company/lamptest/blog/547730/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">Делаем вечную лампочку</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;222</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">230k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">416</span>
                            </span>
                            <a href="https://habr.com/ru/company/lamptest/blog/547730/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                341

                              </span>
                            </a>
                          </div>
                        </li>
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/post/544700/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">О фейковых криптовалютах (Ethereum, Tron, Ripple и пр)</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;235</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">197k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">331</span>
                            </span>
                            <a href="https://habr.com/ru/post/544700/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                503

                              </span>
                            </a>
                          </div>
                        </li>
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/post/548110/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">Домашний DPI, или как бороться с провайдером его же методами</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;229</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">116k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">577</span>
                            </span>
                            <a href="https://habr.com/ru/post/548110/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                159

                              </span>
                            </a>
                          </div>
                        </li>
                        <li class="content-list__item content-list__item_devided post-info">
                          <a href="https://habr.com/ru/post/548070/" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'post'); }">Разбор: как рассчитать налог на банковский вклад и о чем следует помнить</a>
                          <div class="post-info__meta">
                            <span class="post-info__meta-item" title="Рейтинг">
                              <svg class="post-info__meta-icon icon-svg_rating" width="11" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#arrow-bold" /></svg><span class="post-info__meta-counter">&plus;16</span>
                            </span>
                            <span class="post-info__meta-item" title="Количество просмотров">
                              <svg class="post-info__meta-icon icon-svg_views" width="16" height="9"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#eye" /></svg><span class="post-info__meta-counter">97,8k</span>
                            </span>
                            <span class="post-info__meta-item" title="Закладки">
                              <svg class="post-info__meta-icon icon-svg_bookmark-mini" width="8" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#book" /></svg><span class="post-info__meta-counter">48</span>
                            </span>
                            <a href="https://habr.com/ru/post/548070/#comments" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'comment'); }" class="post-info__meta-item" rel="nofollow" title="Комментарии">
                              <svg class="post-info__meta-icon icon-svg_comments" width="14" height="13"><use xlink:href="https://habr.com/605c3eae/images/common-svg-sprite.svg#comment" /></svg><span class="post-info__meta-counter">
                                135

                              </span>
                            </a>
                          </div>
                        </li>
                      <li class="content-list__item content-list__item_devided post-info">
                        <a href="https://u.habr.com/kollexpert-megaf-rn" class="post-info__title post-info__title_large" onclick="if (typeof ga === 'function') { ga('send', 'event', 'tm_block',  'most_read,feed' , 'https://u.habr.com/kollexpert-megaf-rn'); }">Недиванная экспертиза. Коллекция статей с очень глубокими исследованиями</a>
                        <div class="post-info__meta-label">
                          Мегапост
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
      <div class="sidebar_right">
        <div class="content-list__item content-list__item_post shortcuts_item" id="effect-sidebar" style="display: none;">
            <div class="default-block">
                <div class="default-block__header">
                    <h2 class="default-block__header-title">Минуточку внимания</h2>
                </div>
                <div class="default-block__content">
                    <ul class="megapost-teasers" id="megapost-teasers-sidebar">
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
