<div class="layout__cell">
  <div class="footer-grid footer-grid_menu">
        <div class="footer-grid__item footer-block">
            <h3 class="footer-block__title">
              Ваш аккаунт
            </h3>
            <div class="footer-block__content">
              <ul class="footer-menu">
                  <li class="footer-menu__item">
                    <a href="https://habr.com/ru/auth/login/" class="footer-menu__item-link">Войти</a>
                  </li>
                  <li class="footer-menu__item">
                    <a href="https://habr.com/ru/auth/register/" class="footer-menu__item-link">Регистрация</a>
                  </li>
              </ul>
            </div>
        </div>
        <div class="footer-grid__item footer-block">
            <h3 class="footer-block__title">Разделы</h3>
            <div class="footer-block__content">
              <ul class="footer-menu">
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/posts/top/" class="footer-menu__item-link">Публикации</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/news/" class="footer-menu__item-link">Новости</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/hubs/" class="footer-menu__item-link">Хабы</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/companies/" class="footer-menu__item-link">Компании</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/users/" class="footer-menu__item-link">Пользователи</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/sandbox/" class="footer-menu__item-link">Песочница</a>
                </li>
              </ul>
            </div>
        </div>
        <div class="footer-grid__item footer-block">
            <h3 class="footer-block__title">Информация</h3>
            <div class="footer-block__content">
              <ul class="footer-menu">
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/docs/help/" class="footer-menu__item-link">Устройство сайта</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/docs/authors/" class="footer-menu__item-link">Для авторов</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/docs/companies/" class="footer-menu__item-link">Для компаний</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/docs/docs/" class="footer-menu__item-link">Документы</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://account.habr.com/info/agreement/?hl=ru_RU" class="footer-menu__item-link">Соглашение</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://account.habr.com/info/confidential/?hl=ru_RU" class="footer-menu__item-link">Конфиденциальность</a>
                </li>
              </ul>
            </div>
        </div>
        <div class="footer-grid__item footer-block">
            <h3 class="footer-block__title">Услуги</h3>
            <div class="footer-block__content">
              <ul class="footer-menu">
                <li class="footer-menu__item">
                  <a href="https://tmtm.ru/services/advertising/" target="_blank" class="footer-menu__item-link">Реклама</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://tmtm.ru/services/corpblog/" target="_blank" class="footer-menu__item-link">Тарифы</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://tmtm.ru/services/content/" target="_blank" class="footer-menu__item-link">Контент</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://tmtm.ru/workshops/" target="_blank" class="footer-menu__item-link">Семинары</a>
                </li>
                <li class="footer-menu__item">
                  <a href="https://habr.com/ru/megaprojects/" target="_blank" class="footer-menu__item-link">Мегапроекты</a>
                </li>
                  <li class="footer-menu__item">
                    <a href="https://habr.market/" target="_blank" class="footer-menu__item-link">Мерч</a>
                  </li>
              </ul>
            </div>
        </div>
    </div>
</div>